html {
  background-color: antiquewhite;
  background: rgb(232,85,85);
  background: radial-gradient(circle, rgba(232,85,85,1) 0%, rgba(61,46,150,1) 100%);

}

body {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background: rgb(201,201,201);
  background: radial-gradient(circle, rgba(201,201,201,0.7567401960784313) 50%, rgba(153,163,164,0.7063200280112045) 100%);
  border-radius: 10px;

}

h1 {
  padding: 20px;
  margin-bottom: 30px;
  opacity: 1;
  color: -webkit-linear-gradient(166deg, rgba(232,85,85,1) 0%, rgba(61,46,150,1) 100%)";
}


.zodiacBox {
  padding-right: 0px;
}

#zodiacSelect {
  margin-left: 10px;
  
}

@media only screen and (max-width: 575px) {
  #zodiacSelect {
    margin-left: 0px !important;
  } 
}
  

/* Branches */

.hidden {
  display: none;
}

img {
  display: block;
  width: 600px;
  margin: auto;
}

.card {
  margin: 10px 0px;
  padding: 20px;
  opacity: 0.8;
}